<div class="header">
    <h2 class="modal-title">
        <span [ngStyle]="{display : categoryForm.value.title ? 'inline' : 'none'}">{{categoryForm.value.title}}</span>
        <span [ngStyle]="{display : categoryForm.value.title ? 'none' : 'inline'}">{{"COMMON.NEW.CATEGORY" | translate}}</span>    
    </h2>
</div>

<form class="form" [formGroup]="categoryForm">
    <mat-form-field class="primary-input">
        <input formControlName="title" 
            matInput 
            type="text"
            placeholder="{{'COMMON.TITLE' | translate}}"/>
        <mat-icon matPrefix>title</mat-icon>
    </mat-form-field>

    <mat-form-field class="primary-input">
        <mat-label>{{"COMMON.ICON" | translate}}</mat-label>
        <mat-select formControlName="icon">
            <mat-option class="primary-input-option"
                *ngFor="let icon of stylesService.iconsList" 
                [value]="icon.value">
                <div class="select-value">
                    <ion-icon class="select-icon-no-border" name="{{icon.value}}"></ion-icon>
                    <span class="select-text">{{icon.name}}</span>
                </div>
            </mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field class="primary-input">
        <mat-label>{{"COMMON.ICONCOLOR" | translate}}</mat-label>
        <mat-select formControlName="color">
            <mat-option class="primary-input-option"
                *ngFor="let color of stylesService.colorsList" 
                [value]="color.value">
                <div class="select-value">
                    <div class="select-icon" [ngStyle]="{background : color.value}"></div>
                    <span class="select-text">{{color.name}}</span>
                </div>
            </mat-option>
        </mat-select>
    </mat-form-field>
    
    <div class="footer">
        <button (click)="onClickCloseModal()"
            class="cancel-button"
            mat-raised-button>{{"COMMON.CANCEL" | translate}}</button>

        <button (click)="onClickSave()"
            [disabled]="!categoryForm.valid"
            class="primary-button"
            mat-raised-button
            color="primary">{{"COMMON.SAVE" | translate}}</button>
    </div>
</form>