@import './../../../theme/colors.scss';

:host{
    height: 100%;
    display: flex;
    flex-direction: column;

    .header{
        margin-bottom: 16px;

        .modal-title{
            margin: 0;

        }
    }

    .body{
        flex-grow: 1;
        overflow: auto;
        margin-bottom: 1em;
        padding: 0 0.5em;

        .form{

            .formItem{
                display: flex;
                align-items: center;
                
                .primary-input{
                    flex-grow: 1;

                }

                .deleteIcon{
                    color: rgba(0, 0, 0, 0.54);
                    height: 20px;
                    width: 20px;
                    padding: 0.75em 0 .75em .75em;
                    margin-bottom: 8px;

                }   
            }
        }

        .expansionPanel{
            box-shadow: none;
    
            .expansionHeader{
                padding: 0;
                
                &.cdk-focused{
                    background-color: transparent;
    
                }

                &.mat-expanded{
                    border-radius: 0;
                    border-bottom: 1px solid rgba(0, 0, 0, 0.42);
                }

                .mat-expansion-panel-header-title{
                    
                    .headerTitle{
                        font-size: 16px;
    
                    }
                    
                    .headerSelections{
                        color: $primary-highlight-text-color;
                        font-size: 14px;
                        font-weight: 600;
                        letter-spacing: -0.5px;
    
                    }
                }
                
                .mat-expansion-panel-header-description{
                    flex-grow: 0;
                    margin-right: 0;

                    .mat-expansion-indicator{
                        transition: transform 0.25s;
                        margin-right: 0.5em;
                        height: 20px;
                        
                    }

                    .deleteIcon{
                        color: rgba(0, 0, 0, 0.54);
                        height: 20px;
                        width: 20px;
                        margin-left: 0.5em;
                    }
                }
            }
            
            /deep/ .mat-expansion-panel-body{
                padding: 0 !important;

            }
        }
    }

    .footer{
        display: flex;
        justify-content: space-between;
        
    }
}