<div class="topBrandContent">
    <img class="brandLogoChart" src="./../../../assets/icons/logo-seppared/chart-with-name.png">
    <img class="brandLogoCircle" src="./../../../assets/icons/logo-seppared/circle.png">
</div>
<div class="bottomForms">
    <mat-tab-group disableRipple
        mat-align-tabs="center"
        #bottomTabGroup>
        <mat-tab>
            <ng-template mat-tab-label>
                <mat-icon class="tabIcon">account_circle</mat-icon>
                <span class="tabTitle">{{"GUEST.LOGIN"|translate}}</span>
            </ng-template>
            <form class="form" [formGroup]="loginFormGroup">
                <mat-form-field class="primary-input">
                    <input formControlName="email"
                        type="email" 
                        matInput 
                        [placeholder]="translates['COMMON.EMAIL']">
                    <mat-icon matPrefix>email</mat-icon>
                </mat-form-field>
                <mat-form-field class="primary-input">
                    <input formControlName="password"
                        type="password" 
                        matInput 
                        [placeholder]="translates['COMMON.PASSWORD']">
                    <mat-icon matPrefix>lock</mat-icon>
                </mat-form-field>  
                <button (click)="login()"
                    [disabled]="!loginFormGroup.valid"
                    class="primary-button"
                    mat-raised-button
                    color="primary">{{"GUEST.LOGIN" | translate}}</button>
            </form>
        </mat-tab>
    
        <mat-tab>
            <ng-template mat-tab-label>
                <mat-icon class="tabIcon">create</mat-icon>
                <span class="tabTitle">{{"GUEST.REGISTER"|translate}}</span>
            </ng-template>
            <form class="form" [formGroup]="registerFormGroup">
                <mat-form-field class="primary-input">
                    <input formControlName="email"
                        type="email"
                        matInput
                        [placeholder]="translates['COMMON.EMAIL']">
                    <mat-icon matPrefix>email</mat-icon>
                </mat-form-field>
                <mat-form-field class="primary-input">
                    <input formControlName="password"
                        type="password"
                        matInput
                        [placeholder]="translates['COMMON.PASSWORD']">
                    <mat-icon matPrefix>lock</mat-icon>
                </mat-form-field>
                <mat-form-field class="primary-input">
                    <input formControlName="repeatPassword"
                        type="password"
                        matInput
                        [placeholder]="translates['COMMON.REPEATPASSWORD']">
                    <mat-icon matPrefix>lock</mat-icon>
                </mat-form-field>
                <button (click)="register()"
                    [disabled]="!registerFormGroup.valid"
                    class="primary-button" 
                    mat-raised-button 
                    color="primary">{{"GUEST.REGISTER" | translate}}</button>
            </form>
        </mat-tab>
    </mat-tab-group>
</div>