button.primary-button{
    border-radius: 1px;
    min-width: 140px;
    background-color: $primary-color;
    color: $almost-white;
    
}

button.cancel-button{
    border-radius: 1px;
    min-width: 140px;
    background-color: $cancel-color;
    color: $almost-white;

}