$primary-color : #166678;
$secondary-color : #D8D7C3;
$cancel-color : #78162f;

$primary-text-color : #4a4a4a;
$primary-highlight-text-color: #989898;
$icons-color : #4a4a4a;

$almost-white: #efefef;
