
.mixedIcon{
    position: relative;

    :last-child {
        position: absolute;    
        top: 8px;
        left: 12px;
        font-size: 16px;

    }
}

.mat-icon{
    color : $icons-color !important;

}