.primary-input{

    .mat-form-field-prefix{
        
        .mat-icon{
            font-size: 1em;
            margin-right: 0.5em;

        }
    }

    &.mat-focused{

        .mat-form-field-prefix{
            color : $primary-color;
            
        }
    }
}