<mat-expansion-panel class="category" *ngFor="let category of reports">

    <mat-expansion-panel-header class="categoryHeader">
        <ion-icon class="categoryIcon" 
            name="{{category.icon}}"
            [ngStyle]="{
                color : category.color ? category.color : 'rgba(0, 0, 0, 0.54)'
            }"></ion-icon>
        <div class="categoryInfo">
            <h4 class="categoryTitle">{{category.title}}</h4>
            <h5 class="categoryExpenses">{{category.getMonthlyExpenses() | number:'.2-2'}}€</h5>
        </div>
    </mat-expansion-panel-header>

    <div class="expansionBody">
        <div class="entryWrapper" *ngFor="let entry of category.entries">
            <div class="entryHeader">
                <div class="entryDescription">{{entry.description}}</div>
                <div class="entryDate">{{entry.date}}</div>
            </div>
            <div class="entryValue">{{entry.value| number:'.2-2'}}€</div>
        </div>
    </div>
</mat-expansion-panel>