@import './../../../../theme/colors.scss';

:host{

    .category{
        margin: 0.5em;
        border-radius: 2px;
        
        .categoryHeader{
            padding: 0 1em;
            height: 54px!important;
            
            ::ng-deep .mat-content{
                align-items: center;
                
                .categoryIcon{
                    margin-right: 0.5em;
        
                }
        
                .categoryInfo{
                    display: flex;
                    flex-direction: column;

                    .categoryTitle{
                        color: $primary-text-color;
                        margin: 0;
                        font-size: 16px;
    
                    }
    
                    .categoryExpenses{
                        margin: 0.25em 0 0 0;
                        font-size: 12px;

                    }
                }
            }

            &.mat-expanded{
                border-bottom: 1px solid lightslategray;
                margin-bottom: 0.5em;

            }
        }

        .expansionBody{

            .entryWrapper{
                border-bottom: 1px solid lightslategray;
                padding: .75em 0;
                
                .entryHeader{
                    display: flex;
                    justify-content: space-between;

                    .entryDescription{
                        font-size: 14px;
    
                    }
    
                    .entryDate{
                        font-size: 12px;
                        
                    }
                }

                .entryValue{
                    font-size: 14px;
                    font-weight: 600;
                }

                &:last-child{
                    border-bottom: none;
                    padding-bottom: 0;
                
                }
            }
        }
    }
}