@import './../../../theme/colors.scss';

:host{

    .mat-sidenav-container{
        height: 100vh;
        
        
        .mat-sidenav{
            min-width: 100%;

            .menuHeader{
                display: flex;
                align-items: center;
                padding: 0 1em;
                height: 54px;
                border-bottom: 1px solid $almost-white;
                
                .headerImage{
                    max-width: 230px;
                    margin-right: auto;
                }
            
                .headerToggle{
                    min-width: 36px;
                    padding: 0;
                
                }
            }

            .menuBody{
                display: flex;
                flex-direction: column;
                height: calc(100% - 54px);

                .mat-button{
                    display: block;
                    text-align: start;
                    padding: 0.75em 1em;
                    border-radius: 0;
                    border-bottom: 1px solid $almost-white;

                    &.activeCurrentEntry{
                        background-color: $almost-white;

                    }

                    .mat-icon{
                        margin-right: 1em;

                    }

                    &:last-child{
                        background-color: $almost-white;
                        margin-top: auto;
                    
                    }

                    &:hover{

                    }
                }
            }

            .mat-drawer-backdrop{
                opacity: 0.5;
            
            }
        }

        .header{
            display: flex;
            align-items: center;
            min-height: 54px;
            padding: 0 1em;
            border-bottom: 1px solid $almost-white;

            .headerRouterTitle{
                display: flex;
                align-items: center;
                flex-grow: 1;

                .headerIcon{
                    margin-right: 0.25em;

                }
                
                .headerTitle{    
                    margin: 0;
                    font-size: 20px;
                    
                }
            }

            .headerMenuToggle{
                border-radius: 50%;
                padding: 0;
                min-width: 32px;

            }
        }

        .pageBody{
            display: block;
            overflow: auto;
            height: calc(100vh - 54px);
            background-color: $primary-color;
            
        }
    }

    .mainFabListIcon{
        position: absolute;
        background-color: $almost-white;
        z-index: 100;
        bottom: 10px;
        right: 10px;

        .mainFabListIcons{
            position: relative;
            
            .mainFabListIconSave--icon{
                transition: .4s opacity;
                opacity: 0;
                position: absolute;
                bottom: -8px;
                right: -8px;
                font-size: 16px;

            }
        }

        &.mainFabListIcon--editMode{
            background-color: rgb(185, 241, 185);

            .mainFabListIcons{
                
                .mainFabListIconSave--icon{
                    opacity: 1;

                }
            }
        }
    }
}