<div class="dashboard">
    <app-expenses-kpi class="dashboardElement" [initComponent]="financialNotesData"></app-expenses-kpi>
    <!-- <app-date-chart class="dashboardElement"
        [financialNotes]="financialNotes"></app-date-chart>
    <app-dimension-chart class="dashboardElement"
        [financialNotes]="financialNotes"></app-dimension-chart>
    <app-dimension-donut-chart class="dashboardElement"
        [financialNotes]="financialNotes"></app-dimension-donut-chart> -->
</div>